<ion-view view-title="Rasplex Remote">
	<ion-content scroll="false">
		<div class="center">
			<div class="row">
				<div class="col col-33">
					<button class="button button-icon icon ion-arrow-left-c remote-button" ng-click="navCommand('back')"></button>
				</div>
				<div class="col col-33">
					<button class="button button-icon icon ion-chevron-up remote-button" ng-click="navCommand('up')"></button>
				</div>
			</div>
			<div class="row">
				<div class="col col-33">
					<button class="button button-icon icon ion-chevron-left remote-button" ng-click="navCommand('left')"></button>
				</div>
				<div class="col col-33">
					<button class="button button-icon icon ion-checkmark remote-button" ng-click="navCommand('select')"></button>
				</div>
				<div class="col col-33">
					<button class="button button-icon icon ion-chevron-right remote-button" ng-click="navCommand('right')"></button>
				</div>
			</div>
			<div>
				<button class="button button-icon icon ion-chevron-down remote-button" ng-click="navCommand('down')"></button>
			</div>
			<div class="row">
				<div class="col col-33 col-offset-33">
					<button class="button button-icon icon ion-home remote-button" ng-click="navCommand('home')"></button>
				</div>
			</div>
			<div class="row">
				<div class="col col-33">
					<button class="button button-icon icon ion-skip-backward remote-button" ng-click="navCommand('skipPrevious')"></button>
				</div>
				<div class="col col-33">
					<button class="button button-icon icon ion-pause remote-button" ng-click="navCommand('pause')"></button>
				</div>
				<div class="col col-33">
					<button class="button button-icon icon ion-skip-forward remote-button" ng-click="navCommand('stepForward')"></button>
				</div>
			</div>
		</div>
  	</ion-content>
</ion-view>
